$grayForInputs: #E9E9E9;
$placeholderGray: #949494;

$mainPurple: rgb(142, 163, 207);;
$darkPurple: rgb(49, 97, 202);;
$cardPurple: rgb(183, 199, 233);;
$lightRed: rgb(49, 97, 202);
$danger: #FF4E4E;
$lightGray: #F3F3F3;
$darkSubtitle: #424242;
$searchButtonGray: #EEEEEE;
